<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <div>
      <h1>Tareas para hoy</h1>
    </div>
      <div class="contenido">
        <ion-item id="items" lines="none" *ngFor="let aa of[1,1,1,1]">
          <ion-card>
            <ion-card-header>
              <ion-card-title><ion-icon name="ellipse"></ion-icon>Nombre de la tarea</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="resumen">
                <ion-icon id="calendar" name="calendar-outline" color="dark"></ion-icon>
              <div id="fecha">24/02/2022</div>
              </div>
            </ion-card-content>
          </ion-card>

        </ion-item>
      </div>
    </div>



</ion-content>
