<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <div>
      <h1>Tareas para [nombre]</h1>
    </div>


      <div class="contenido">
        <ion-item id="items" *ngFor="let aa of[1,1,1,1]">
          <ion-card>
            <ion-item>
              <ion-icon  name="ellipse"> slot="start"></ion-icon>
              <ion-label>Proyecto de IoT</ion-label>
              <ion-button fill="outline" slot="end">Ver</ion-button>
            </ion-item>

            <ion-card-content>
              <ion-icon color="black" name="calendar"> slot="start"></ion-icon>
              24/02/2022
            </ion-card-content>
          </ion-card>

        </ion-item>
      </div>

    </div>



</ion-content>
