<ion-content>
  <div class="titles">
    <!--titulo de la página-->
    <h1 class="titulo">Para continuar, inicie sesión</h1>
  </div>

<!--Sección para inputs de correo y contraseña-->
  <div class="container">
    <ion-list>
      <ion-item  lines="none" color="medium">
        <!--caracteres maximo de 50, restringir tipo de entrada a email-->
        <ion-input type="email" placeholder="Correo" [(ngModel)]="usuario.email"></ion-input>
      </ion-item>
      <ion-item lines="none" color="medium">
        <!--Caracteres maximos 16 min 6 tipo password-->
        <ion-input class="inputText" type="password" placeholder="Contraseña" [(ngModel)]="usuario.password"></ion-input>
      </ion-item>
    </ion-list>
      <ion-buttons>
        <div>
          <ion-button id="iniciarButton" (click)="ingresar()">Iniciar</ion-button>
        </div>
        <div>
          <ion-button color="light" id="registrarButton">Registrate</ion-button>
        </div>
      </ion-buttons>
  </div>
</ion-content>
