<ion-app>
  <ion-menu side="start" menuId="first" contentId="home">
    <ion-header>
      <ion-toolbar>
        <ion-title>Opciones</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/home']">Home</ion-item>
        <ion-item [routerLink]="['/login']">Login</ion-item>
        <ion-item [routerLink]="['/register']">Registrate</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="home"></ion-router-outlet>
</ion-app>
