<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="backButton"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="titles">
    <!--titulo de la página-->
    <h1 class="titulo">Ingrese los campos</h1>
  </div>

<!--Sección para inputs de correo y contraseña-->
  <div class="container">
    <ion-list>
      <ion-item  lines="none" color="medium">
        <!--caracteres maximo de 50, restringir tipo de entrada a email-->
        <ion-input type="email" placeholder="Correo"></ion-input>
      </ion-item>
      <ion-item lines="none" color="medium">
        <!--Caracteres maximos 16 min 6 tipo password-->
        <ion-input class="inputText" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-item lines="none" color="medium">
        <!--Caracteres maximos 16 min 6 tipo password-->
        <ion-input class="inputText" type="password" placeholder="Repetir contraseña"></ion-input>
      </ion-item>
    </ion-list>
    
    <!--sección para botones de iniciar y registrod-->
      <ion-buttons>
        <div>
          <ion-button color="light" id="registrarButton">Registrate</ion-button>
        </div>
      </ion-buttons>
  </div>
</ion-content>
