.container{
  margin: auto;
  width: 80%;
  padding: 10px;
}

/*titulos*/
.titulo{
  margin-left: 50px;
  font-size: 40px;
  font-weight: bolder;
  width: 60%;
}
/*Contenedor de titulo*/
.titles{
  margin-top: 130px;
  margin-bottom: 70px;
}


//BORDES DE LOS INPUT
ion-item{
  margin: 0px 0px 10px;
  width: 100%;
  border-radius: 10px;
}

//ALINEAR BOTON A LA DERECHA
#registro{
  justify-content: right;
  margin-top: 50px;
  width: 100%;
  right: 1px;
  }

//AJUSTAR TAMAÑO Y BORDE
ion-button{
  margin: 0px 0px 10px;
  border-radius: 40px;
  width: 150px;
  height: 50px;
  font-weight: bold;
}

//COLOR DEL BOTON REGISTRATE
#registrarButton{
  color: white;
  background-color:  var(--ion-color-primary);
}

//TAMAÑO DEL INPUT DESCRIPCION
#description{
  height: 100px;
  vertical-align: bottom;
}

