<ion-header >
  <ion-toolbar>
    <ion-label id="tituloAddTaskPage"> Nueva tarea </ion-label>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <ion-item>
      <ion-label position="stacked"></ion-label>
      <ion-input placeholder="Nombre"></ion-input>
      <strong>Fecha limite</strong>
        <ion-item>

        <ion-datetime displayFormat="MMMM" value="2012-12-15T13:47:20.789"></ion-datetime>

      </ion-item>

      <ion-input placeholder="Descripcion de tarea"></ion-input>

    </ion-item>
  </div>


</ion-content>
