<ion-header >
  <ion-toolbar>
    <ion-label id="tituloAddTaskPage"> Nueva tarea </ion-label>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container"> <!--Contenido detro de container-->
    <ion-item>
      <ion-label position="stacked"></ion-label>

      <ion-input placeholder="Nombre"></ion-input>

      <strong>Fecha limite</strong>

      <ion-item>
        <ion-datetime displayFormat="MM DD YY" placeholder="Selecciona la fecha">
        </ion-datetime>
      </ion-item>

      <ion-textarea rows="6" cols="20" placeholder="Descripción"></ion-textarea>

    </ion-item>

  </div>

  <!--Botón de agregar tarea-->
  <div class="agregar_tarea">
    <ion-button icon-left>
      <ion-icon name="add"></ion-icon> Agregar
    </ion-button>
  </div>


</ion-content>
