<ion-header >
  <ion-toolbar>
    <ion-label id="tituloAddTaskPage"> Nueva tarea </ion-label>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <ion-item>
      <ion-label position="stacked"></ion-label>
      <ion-input placeholder="Nombre"></ion-input>
      <ion-input placeholder="Fecha"></ion-input>
      <ion-input placeholder="Descripcion de tarea"></ion-input>
    </ion-item>
  </div>


</ion-content>
