#container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}



#barra{
  height: 60px;
}


#container ion-chip{
  size: 50px;
}
//Atributos para Ion-chip (botones de hoy, esta semana y todo)
[size="large"] {
  height: 50px;

  padding: 25px;

  border-radius: 25px;
}


ion-toolbar ion-avatar{
  margin-top: 5px;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  left: 0;
}

ion-toolbar ion-icon{
  margin-top: auto;
  margin-left: auto;
}

.info ion-card-title{
  display: flex;
  width: 40%;
  float: left;
  //vertical-align: middle;
}

//numero total de tareas CIRCULAR
.info ion-card-content{
  display: flex;
  width: 120px;
  height: 120px;
  float: right;
  background: #0007AC;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  top: 20px;
  margin-right: 40px;
}

.circulo{
  top: 100px;
  align-items: center;
}
ion-card{
  border-radius: 50px;
}

//icono del lado izquierdo: Tareas Pendientes
.tarjetita ion-icon{
  color: #3a7be0;
  align-items: center;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

//donde dice: Tareas pendientes
.tarjetita a{
  color: #3a7be0;
  font-weight: bold;
  text-decoration: none;
  margin-left: 40px;
  font-size: 22px;
}

.tarjetita ion-card{
  height: 220px;
  margin-bottom: 30px;
  margin-top: 15px;
}



//titulo que dice HOY

.contenido {
  align-items: center;
  align-self: center;
}
.contenido strong{
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  font-size: 25px;
  margin-left: 50px;
}

.contenido ion-icon{
  height: 10px;
  color: #F03A00;
  width: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.contenido ion-item{
  margin-top: 10px;
  align-items: center;
  align-self: center;
  margin-right: 20px;
}

ion-item h2{
  font-size: 20px;
}

.tarjetita ion-card-content{
  color: white;
  font-weight: bolder;
  align-items: center;
}


//seccion del ion card
.info{
  margin-left: 20px;
  margin-right: 20px;
}


.centrar ion-card-title {
  margin-left: 30px;
  position: absolute;
  top: 80px;
  font-size: 30px;
  font-weight: bolder;
}


#botoncito{
  position:fixed;
  float: right;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  border-radius:50px;
  text-align:center;
  z-index: 1;
}

#items{
  position: relative;
}


