<!--Esta es la parte de la barra de arriba-->
<ion-header>
  <ion-toolbar id="barra">
    <!--Este es el menu de hamburguesa del lado izquierdo-->

 <ion-buttons>
   <ion-button>
     <ion-icon
       slot="icon-only"
       name="menu-outline">
     </ion-icon>
   </ion-button>
 </ion-buttons>

    <!--Este es el icono del usuario de lado derecho-->
    <ion-avatar slot="end">
      <img src="/assets/user.png">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<!--este es todo el contenido que se mostrara en pantalla-->
<ion-content [fullscreen]="true">
  <!--este es el menu de los 3 botones = hoy, esta semana, y todo-->
  <div id="container">
    <ion-chip color="primary" outline="true" color="white">
      <ion-label [routerLink]="g.redirectTo" *ngFor="let g of todo" >Hoy</ion-label>
    </ion-chip>
    <ion-chip id="week" color="primary" outline="true" color="white">
      <ion-label>Esta semana</ion-label>
    </ion-chip>
    <ion-chip color="primary" outline="true" color="white">
      <ion-label>Todo</ion-label>
    </ion-chip>
  </div>

  <!--aqui esta la tarjetita que mostrara las tareas-->
  <div class="tarjetita">
    <!--es el texto cabezera Tareas pendientes-->
    <a href="https://ionicframework.com/docs/components"><ion-icon name="book-outline"></ion-icon>Tareas pendientes</a>
    <!--aqui esta el ionc-card -->
      <ion-card class="info">
        <div class="centrar">
          <div id="titulo-card">
            <ion-card-header>
              <ion-card-title>Total de tareas</ion-card-title>
            </ion-card-header>
          </div>
          <div id="circulo">
            <ion-card-content>
              {{totaltareas.total}}
            </ion-card-content>
          </div>
        </div>
      </ion-card>
  </div>


  <!--este es el contenido que se aloja en la seccion: HOY-->
  <div class="contenido">
    <strong>Hoy</strong>
    <ion-item color="transparent" id="items" *ngFor="let aa of[1,1,1,1]">
      <ion-avatar slot="start">
        <ion-icon name="ellipse"></ion-icon>
      </ion-avatar>
      <ion-label class="tareas">
        <h2>Nombre</h2>
        <h3>Fecha</h3>
        <p>Descripcion de la tarea.</p>
      </ion-label>
    </ion-item>
  </div>

  <div class="agregar">
    <ion-fab-button [routerLink]="c.redirectTo" *ngFor="let c of componentes" id="botoncito">+</ion-fab-button>
  </div>
</ion-content>
