#container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#container ion-chip{
  margin-right: 10px;
  margin-left: 10px;
}



ion-toolbar ion-avatar{
  margin-top: auto;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  left: 0;
}

ion-toolbar ion-icon{
  margin-top: 20px;
  margin-left: 10px;
}

.info ion-card-title{
  display: flex;
  width: 40%;
  float: left;
  //vertical-align: middle;
}

//numero total de tareas CIRCULAR
.info ion-card-content{
  display: flex;
  width: 120px;
  height: 120px;
  float: right;
  background: #3a7be0;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  //display: block;
  //vertical-align: middle;
  font-size: 70px;
  top: 20px;
  margin-right: 40px;
}

#circulo{
  top: 100px;
}


.tarjetita a{
  text-decoration: none;
  margin-left: 20px;
}

.tarjetita ion-card{
  height: 250px;
}

.contenido strong{
  margin-left: 20px;
}

.tarjetita ion-card-content{
  color: white;
  font-weight: bolder;
  align-items: center;
}



.centrar ion-card-title {
  margin-left: 30px;
  position: absolute;
  top: 80px;
  font-size: 30px;
  font-weight: bolder;
}


.agregar{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  border-radius:50px;
  text-align:center;
}

