#container {
  text-align: center;
}

ion-toolbar {
  position: relative;
  height: 60px;
}

ion-toolbar ion-avatar{
  margin-top: auto;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  left: 0;
}

ion-toolbar ion-icon{
  margin-top: 20px;
  margin-left: 10px;
}

.info ion-card-title{
  display: flex;
  width: 10%;
  float: left;
}

.info ion-card-content{
  display: flex;
  width: 60px;
  height: 60px;
  float: right;
  background: #3a7be0;
  border-radius: 50%;
  align-items: center;
  text-align: center;


}



.tarjetita a{
  text-decoration: none;
  margin-left: 20px;
}

.tarjetita ion-card{
  height: 250px;
}

.contenido strong{
  margin-left: 20px;
}


.agregar{
  color: #2dd36f;
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  border-radius:50px;
  text-align:center;
}
