<ion-header [translucent]="true">
  <ion-toolbar id="barra">
    <ion-icon name="menu-outline"></ion-icon>
    <ion-avatar slot="end">
      <img src="/assets/user.png">
    </ion-avatar>
  </ion-toolbar>
  <ion-header collapse="condense">
  </ion-header>

</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">
    <ion-chip color="primary" mode="=android" outline="true" color="primary">
      <ion-label>Hoy</ion-label>
    </ion-chip>
    <ion-chip color="primary" mode="=android" outline="true" color="primary">
      <ion-label>Esta semana</ion-label>
    </ion-chip>
    <ion-chip color="primary" mode="=android" outline="true" color="primary">
      <ion-label>Todo</ion-label>
    </ion-chip>
  </div>

  <div class="tarjetita">
    <a href="https://ionicframework.com/docs/components"><ion-icon name="book-outline"></ion-icon>Tareas pendientes</a>
    <ion-card class="info">
      <ion-card-header>
        <ion-card-title>Tareas pendientes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{totaltareas.total}}
      </ion-card-content>
    </ion-card>
  </div>



  <div class="contenido">
    <strong>Hoy</strong>
    <ion-item *ngFor="let aa of[1,1]">
      <ion-avatar slot="start">
        <ion-icon name="ellipse"></ion-icon>
      </ion-avatar>
      <ion-label class="tareas">
        <h2>Hola</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  </div>

  <div class="agregar">
    <ion-fab-button id="botoncito">+</ion-fab-button>
  </div>
</ion-content>
