<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar slot="end">
      <img src="/assets/user.png">
    </ion-avatar>
    <ion-avatar slot="start">
      <img src="/assets/burger.png">
    </ion-avatar>
  </ion-toolbar>
  <ion-header collapse="condense">
  </ion-header>

</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-chip color="primary" mode="=android" outline="true" color="primary">
      <ion-label>Hoy</ion-label>
    </ion-chip>
    <ion-chip color="primary" mode="=android" outline="true" color="primary">
      <ion-label>Esta semana</ion-label>
    </ion-chip>
    <ion-chip color="primary" mode="=android" outline="true" color="primary">
      <ion-label>Todo</ion-label>
    </ion-chip>
  </div>

  <div>
    <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"><ion-icon name="book-outline"></ion-icon>Tareas pendientes</a>
    <!-- <label> <ion-avatar><img src="/assets/user.png"></ion-avatar> Tareas pendientes</label> -->
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tareas pendiente</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{tareas.total}}
    </ion-card-content>
  </ion-card>

  <div>
    <strong>Hoy</strong>
    <ion-list>
      tareas
    </ion-list>
  </div>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
